<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{%static "mainapp/css/magnific-popup.css" %}">
    <link rel="shortcut icon" href="Images/delete.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "mainapp/css/macarena1.css" %}">
    <title>Macarena</title>
</head>
<body>

<a href="/" class="logo logo_desktop"><img src="{% static "mainapp/images/logo4.jpeg" %}" width="4.5%"></a>
<a href="/" class="logo logo_mob"><img src="{% static "mainapp/images/М2.png" %}" width="4.5%"></a>
<div class="header">
<a href="/promotions" class="akatsuki">АКЦИИ</a>
<a href="/news" class="Hidan">НОВОСТИ</a>
	<div class="big_time">
	<div class="timable">Пн-чт,вс: с 10:00 до 00:00</div>
	<div class="timable">Пт-сб: с 10:00 до 02:00</div>
	</div>
	{% if request.user.is_authenticated and user.first_name != "" %}
	<a href="{% url 'per:account' %}" class="entrance ">{{ user.first_name }}</a>
	{% else %}
	<a href="#entrance" class="entrance popup-link">войти</a>
	{% endif %}

<div class="basket_button_matreskka">
<a href="#basket" class="basket_button popup-link">  
<div class="cell_info">Корзина ....</div>  
</a></div></div>




<div id="entrance" class="mfp-hide">
    <div class="entrance_window">
        <div class="entrance_title">Вход</div>
         <form action = '/code/' class="fake" method="post">
   	{% csrf_token %}
        <div class="phone_entrance">
            <b>Телефон:</b>
            {{ form.phone }}
            </div>
        <a href="#entrance_code" class="code_button popup-link hide"><button type="submit" class="orange_button">отправить код</button></a>
        <button type="submit" class="code_button">отправить код</button>

       </form>
    </div>
</div>


<div id="entrance_code" class="mfp-hide">
    <div class="entrance_window">
        <div class="entrance_title">Вход</div>
        	<form action = '/code/check/' method="post">
        	<div class="phone_entrance">
            <b>Телефон:</b>
            {% csrf_token %}
            {{ LoginForm.phone }}
            </div>
            <b>Код:</b>
            {{ LoginForm.password }}
       
       <!-- <button type="submit" class="entrance_button step3_button">вход</button> -->
       <a href="#" class="entrance_button"><button type="submit" class="orange_button">вход</button></a>

       </form>
    </div>
</div>


			<div id="basket" class="mfp-hide">
				<div class="basket">

    	{% if cart|length == 0 %}

    		<div class="empty_cart">Вы пока ничего не добавили</div>	



		{% else %}
		<form action="/checkout/" method="post">
    				{% csrf_token %}
		{% for item in cart %}
    		{% with product=item.product %}
    			
					<div class="basket_block">
						
						<img src="{{ product.image.url }}" width="25%">
						<div class="basket_block_name">{{ product.name }}</div>
						<div class="basket_cost">{{ item.total_price }}р</div>
						
						
      					<div class="number2">
            			<input type="text" id = "num" value="{{ item.quantity }}" data-cost = "{{ product.price }}" 
            			name = "product_{{ product.id }}"/>
               			 <span class="minus2">-</span>
               			 <span class="plus2">+</span>
               			 
               			 </div>
               			 
						
						<a href= "{% url "mainapp:cart_remove" product.id%}" class="basket_image"><img src="{% static "mainapp/images/musor1.png" %}" width="10%">
						</a>
						
					</div>
				
		

	
	{% endwith %}
{% endfor %}
<div class="itogo">
			<div class="itogo_word">итого</div>
			<div class="itogo_cost">{{ cart.get_total_price }}р</div>
			<button type="submit" class="itogo_button orange_button">оформить заказ</button>
			<!-- <button type="submit" class="itogo_button">оформить заказ</button> -->
		</div>
	</form>
{% endif %}


</div>
</div>


{% block content %}


{% endblock %}

<div class="footer">
	<div class="hight_footer_right_a">460000, г. Оренбург, пр. Победы 1А</div>
	<div class="hight_footer_right_block1"><div class="hight_footer_right_block2">
	<div class="hight_footer_right">Отдел контроля качества: <u>+7 (9058) 12-77-60</u></div>
	</div></div>
	<div class="hight_footer_right_block1"><div class="hight_footer_right_block3">
	<div class="hight_footer_right">Доставка:т. <u>+7 (3532) 49-37-37</u></div>
	</div></div>
	<div class="hight_footer_right_block1"><div class="hight_footer_right_block4">
	<div class="hight_footer_right">Гастро-бар: т. <u>+7 (3532) 61-85-85</u></div>
	</div></div>

	<a href="/about_us" class="hight_footer_mid">Macarena</a>
	<a href="/news" class="hight_footer_mid_a">новости</a>
	<a href="/vacancies" class="hight_footer_mid_a">вакансии</a>
	<a href="/delivery" class="hight_footer_mid_a">доствака</a>
	<a href="/payment" class="hight_footer_mid_a">оплата</a>

	<div class="hight_footer_left_block">
	<div class="hight_footer_left">ООО «М2 ЧИЛУМ ГРУПП»</div>
	<div class="hight_footer_left">ИНН 5611075834/ОГРН 1155658028008</div>
	<div class="hight_footer_left">Россия, 460000, Оренбургская область</div>
	<div class="hight_footer_left">г. Оренбург,  ул. Ижевская, 14, кв 2</div>
	<a href="#" class="hight_footer_left_a">m2acarena@yandex.ru</a>
	</div>

	<div class="mid_footer_line"> </div>
	<div class="mid_footer">
		<a href="https://instagram.com/m2acarena?igshid=y3oerbhska5i" class="mid_footer_image" target="_blank"><img src="{% static 'mainapp/images/instagram.png'%}"></a>
		<a href="https://vk.com/m2acarena" class="mid_footer_image" target="_blank"><img src="{% static 'mainapp/images/vk.png'%}"></a>
		<a href="https://api.whatsapp.com/send?phone=79619418585&text=" class="mid_footer_image" target="_blank"><img src="{% static 'mainapp/images/whatsapp.png'%}"></a>
		<a href="mailto:m2acarena@yandex.ru" class="mid_footer_image" target="_blank"><img src="{% static 'mainapp/images/mail.png'%}"></a>
	</div>
	<div class="down_footer_left">© 2016  М2 ЧИЛУМ ГРУПП</div>
	<div class="down_footer_right">Авторы: <a href="https://www.instagram.com/2studio3/" target="_blank">Studio23</a></div>
</div>
	<script src="{% static "mainapp/js/gQuerry-3.5.1.min.js" %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script>
    $(".phone").mask("+7(999)999-9999");
    </script>
  	<script src="{% static "mainapp/js/mainapp.js" %}"></script>	
    <script src="{% static "mainapp/js/magnific-popup.js" %}"></script>
    <script src="{% static "mainapp/js/window.js" %}"></script>
    <script src="{% static "mainapp/js/slider.js" %}"></script>
    <script src="{% static "mainapp/js/slick-slider.js" %}"></script>
    <script src="{% static "mainapp/js/slick-slider2.js" %}"></script>
    <script src="{% static "mainapp/js/slick-slider2.js" %}"></script>
    <script src="{% static "mainapp/js/field_valid.js" %}"></script>
    <script src="{% static "mainapp/js/phonemodal.js" %}"></script>
    <script>
   $("#id_phone").keyup(function () {
     var value = $(this).val();
     $("#second_phone").val(value);
   });
	</script>
	<script>
		$(document).on('submit', '.fake', function(e){
			e.preventDefault();
			$('a[href="#entrance_code"]').click();
$.ajax({ 
    type: $(this).attr('method'), 
    url: this.action, 
    data: $(this).serialize(),
    context: this
    });
    return false;
});
	</script>
	<!-- <script>
		$(document).on('submit', '.fake2', function(e){
			e.preventDefault();
			
$.ajax({ 
    type: $(this).attr('method'), 
    url: this.action, 
    data: $(this).serialize(),
    context: this
    });
    return false;
});
	</script> -->


</body>
</html>