{% extends "mainapp/base.html" %}

{% block content %}
{% load static %}

<div class="footer_page_title">ДОСТАВКА</div>
<div class="footer_page_text2">
Принимаем заказы с понедельника 
по четверг и воскресенье
<p>с 10:00 до 00:00</p>
<p>С пятницы по субботу</p>
<p>с 10:00 до 01:00</p>

</div>

<div class="footer_page_text2">
	Доставка: т. +7 (3532) 49-37-37
</div>
<div class="footer_page_otstup2"></div>
<div class="footer_page_text2">
	Условия доставки:
</div>

<div class="footer_page_text2">
Гастро-бар «Макарена» осуществляет доставку еды собственного производства.
По городу Оренбург осуществляется бесплатная доставка при заказе 
от 1000 р.
При заказе меньше 1000 р. стоимость доставки составляет 150 р.
За пригород и отдаленные районы взымается дополнительная плата.
Пригород – 100 р. (п. Дубки, озеро Микутка, п. Космос, п. Ростоши 1,2,3, п. Куйбышева, п. Пригородный, п. Крона, п. Солнечный, улица Тихая (Загородное шоссе), п. Стройгородок, ул. Донгузская после поселка Стройгородок, п. Авиагородок, п. Заречье, п. Колхоз им. Ленина, п.9 января, п. Газодобытчиков, п. Южный Урал, ул. Беляевская после дома № 39, п.Весенний 1,2, п. Ивановка, п. Подгородняя Покровка, п. Соловьевка, п. Павловка).
</div>

<div class="footer_page_text2">
	Отдаленные районы – 200 р. (п. Экодолье, п. Приуралье, п. Нижнесакмарский, снт. "Дубовая роща", п. Нижняя Павловка, п. Нежинка, Аэропорт, "Гора Сулак").
</div>

<div class="footer_page_text2">
Время доставки может составлять от 50 до 75 минут.
</div>
<div class="footer_page_otstup"></div>

{% endblock %}