{% extends "mainapp/base.html" %}

{% block content %}
{% load static %}

<div class="footer_page_title">ОПЛАТА</div>
<div class="footer_page_text2">
Способы оплаты товара:
<p>1. Наличными
Оплата наличными курьеру или в гастро-баре при получении заказа.</p>
<p>2. Онлайн оплата банковской картой на сайте (ПАО Сбербанк)
При оформлении заказа на сайте.</p>
<p>3. Банковской картой при получении заказа
Оплата заказа банковской картой при получении (мобильный терминал).</p>
</div>
<div class="footer_page_otstup2"></div>

<div class="footer_page_text2">
Способы оплаты товара:
Если на Вашей карте есть в наличии необходимая сумма, она будет заблокирована и списана. Внесение изменений в предоплаченный заказ возможно исключительно в пределах суммы меньшей или равной заблокированной на карте. В случае отказа от заказа (или части его) денежные средства будут возвращены на Вашу карту. Сроки могут составить от 1 до 30 дней.</div>
<div class="footer_page_otstup2"></div>
<div class="footer_page_text2">
Безопасность онлайн платежей.
Предоставляемая вами информация для заказа (ФИО, адрес, телефон, e-mail, номер банковской карты) является конфиденциальной и не разглашается. Все введенные данные при указании Банковской карты хранятся в системе, доступ к указанным данным Ресторан «Космос» не имеет. Данные вашей банковской карты передаются в зашифрованном виде и не сохраняются на наших серверах. Безопасность обработки Интернет-платежей гарантирует ПАО «Сбербанк России». Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используются специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.
</div>

<div class="footer_page_text2">
В случае возникновения проблем при оплате с банковской карты вы можете связаться с ПАО «Сбербанк России» по телефону 8-800-775-55-55 кнопка 1.
</div>
<div class="footer_page_otstup"></div>

{% endblock %}